<app-home></app-home>
<hr>
<div class="container text-center">
    <p class="lead mt-5 mb-3">Reservation List</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Email</th>
                <th>Room No</th>
                <th>CheckIn Date</th>
                <th>CheckOut Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.guestName}}</td>
                <td>{{reservation.guestEmail}}</td>
                <td>{{reservation.roomNumber}}</td>
                <td>{{reservation.checkInDate}}</td>
                <td>{{reservation.checkOutDate}}</td>
                <td>
                    <button class="btn btn-small btn-danger mx-1"
                        (click)="deleteReservation(reservation.id)">Delete</button>
                    <button class="btn btn-small btn-secondary mx-1"
                        [routerLink]="['/edit', reservation.id]">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul *ngIf="reservations.length; else noReservation">

    </ul>

    <ng-template #noReservation>
        <p class="lead">No Reservations Available</p>
    </ng-template>
</div>